<?xml version="1.0"?>

<model>
  <name>bauzil_room</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Thibaud Lasguignes</name>
    <email>tlasguigne@laas.fr</email>
  </author>

  <description>
    A model for the Bauzil room of LAAS-CNRS, Toulouse, France.
  </description>
</model>
